<h1>{{title}}</h1>
<h3>Search field</h3>
<amsui-search-field [config]="searchFieldConfig" (searchEvent)="handleSearchEvent($event)"></amsui-search-field>

<h3>Other Components</h3>
<ul>
  <li>facet group</li>
  <li>facet</li>
  <li>search result wrapper</li>
  <li>search results container</li>
  <li>search result entry</li>
  <li>no results container</li>
  <li>search meta information</li>
  <li>did you mean text</li>
  <li>result view type toggle</li>
  <li>meta information text</li>
  <li>sort dropdown</li>
  <li>overlay loader</li>
</ul>
<p>You can find additional components in a storybook, that lets you interactively explore the library.</p>
<a href="https://dev.redlink.io/amsui/?path=/story/documentation-standalone-usage--page">Go to other components</a>
